.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  color: var(--accent-color);
  margin: 24px 0;

  .page-number {
    margin: 0 8px;
    cursor: pointer;

    &.active {
      background-color: var(--accent-color);
      border: 3px solid var(--header-text-color);
      box-shadow: 0 0 0 3px var(--accent-color);
      border-radius: 50vh;
      width: 42px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      font-size: 30px;
      color: var(--header-text-color);
      cursor: default;
    }
  }
}
