.search-bar {
  background-color: var(--neutral-bg-color);
  border-radius: 50vh;
  border: none;
  appearance: none;
  outline: none;
  color: var(--accent-color);
  font-size: 12px;
  margin-top: 34px;
  padding: 6px 20px;
  flex: 1;

  &::placeholder {
    color: var(--accent-color-disabled);
  }
}
