.search {
  display: flex;
  flex-direction: column;
  margin: 0 38px;

  .message {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    background-color: var(--neutral-bg-color);
    padding: 30px 0;
  }

  .loading {
    margin-top: 30px;
    line-height: 30px;
  }
}
