.search-result {
  display: flex;
  flex-direction: row;
  background-color: var(--neutral-bg-color);
  margin-top: 30px;

  a {
    text-decoration: none;
  }

  .movie-poster {
    width: 135px;
    height: auto;
  }

  .movie-info {
    flex-grow: 1;
    padding-bottom: 16px;
  }

  .movie-rating {
    background-color: var(--accent-color);
    border: 3px solid var(--header-text-color);
    box-shadow: 0 0 0 2px var(--accent-color);
    border-radius: 50vh;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--header-text-color);
    margin: -22px 9px 0 12px;
  }

  .movie-title {
    background-color: var(--accent-color);
    color: var(--header-text-color);
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding: 12px 0 2px 63px;
    margin: 0;
    font-size: 24px;
  }

  .movie-date {
    color: var(--text-color);
    font-weight: 300;
    margin-top: 2px;
  }

  .search-result-subtitle {
    display: flex;
    flex-direction: row;
  }

  .movie-overview {
    margin: 14px 20px;
  }

  .movie-genres {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
  }
}
