.header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  text-align: center;
  padding: 10px;

  a {
    text-decoration: none;
    color: var(--header-text-color);
  }

  h1 {
    font-size: 26px;
  }
}
