.header {
  background-color: var(--header-bg-color);
  border-bottom: 1px solid #8fb5cc;
  color: var(--header-text-color);
  text-align: center;
  padding: 14px;

  a {
    text-decoration: none;
    color: var(--header-text-color);
  }

  h1 {
    font-size: 41px;
  }
}
