:root {
  --accent-color: #116193;
  --accent-color-disabled: #84aac2;
  --header-bg-color: #116193;
  --header-text-color: #00e8e4;
  --neutral-bg-color: #ebebeb;
  --text-color: #555555;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-family: 'Abel', sans-serif;
  font-weight: normal;
}

.tag {
  border: 1px solid var(--accent-color);
  border-radius: 50vh;
  background-color: #ffffff;
  font-family: 'Abel', sans-serif;
  color: var(--accent-color);
  padding: 1px 8px;
  margin-right: 4px;
}
